[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
argparse = "*"
typing = "*"
numpy = "*"
sentence-transformers = "*"
"langchain.tools" = "*"
langchain = "*"
langchain-openai = "*"
lancedb = "*"
bs4 = "*"
python-dotenv = "*"
crewai = "*"
crewai-tools = "*"

[dev-packages]

[requires]
python_version = "3.11"
